body {
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 1px;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #4066ff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #4066ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover {
  background-color: #3355cc;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}