body {
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 1px;
  background-color: #eef5ed;
}

h1, h2 {
  color: #262626;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #4066ff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  padding:7px 15px;
  background-color: #4a67d6; /* Muted blue */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #00ecd1; /* Slightly darker blue */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #62e0ec; /* Deeper shade for pressed state */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* 
button:hover {
  background-color: #3355cc;
} */

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}